body{
  background-color: #333;
}

.container {
  width: 400px;
  height: 400px;  
  perspective: 5000px;
  perspective-origin: center center;
  color: #bbb;
  position: relative;
  top: -130px;
  transform-style: preserve-3d;
}

#blinder{
  height:130px;
  width:1000px;
  overflow: hidden;
}

.dial {
  position: absolute;
  transform-style: preserve-3d;
}

#rightSecond{
	left: 780px;
	top: 150px;
}

#leftSecond{
  left:650px;
  top: 150px;
}

#leftMinute{
  left: 350px;
  top:150px;
}

#rightMinute{
  left: 480px;
  top: 150px;
}

#rightHour{
  left: 180px;
  top: 150px;
}

#leftHour{
  top: 150px;
  left: 50px;
}

#seconds{
    color: white;
}

.colon{
  color: #333;
  font-size: 6em;
  position: absolute;
  text-shadow: 0px 0px 3px rgba(255,255,255,1),
               0px 0px 5px rgba(255,255,255,1),
               0px 0px 5px rgba(149,31,255,1);
}

#hourminute{
  top: 25px;
  left: 317px;
}

#minutesecond{
  top: 25px;
  left: 630px;
}

#meridian{
  font-family: 'Iceland', cursive;
  font-size: 2em;
  position: absolute;
  top: 157px;
  left: 950px;
}

.lit{
  color: #ddd;
  text-shadow: 1px 1px 2px rgba(149,31,255,1);
}

.unlit{
  color: #777;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

.dial div {
  position: absolute;
  width: 120px;
  height:80px;
  backface-visibility: hidden;
  text-align: center;
  font-family: 'Iceland', cursive;
  color: rgba(68, 176, 255, 1);
  font-size: 80px;
  line-height: .95;
  background-color: rgba(30, 30, 30, .6);
  border-radius: 20px;
  /*box-shadow: inset 1px 2px 0px rgba(10,10,10,.6),
              inset -1px -2px 0 rgba(40,40,40,.5),
              inset 7px 7px 9px 8px rgba(90, 50, 80, .3),
              inset -7px -7px 9px 8px rgba(40, 10, 20, .7); */
  box-shadow:inset 0px 1px 2px 0px rgba(149, 31, 207, .3),
             inset 15px 15px 5px 2px rgba(0,0,0,.3),
             inset -10px -10px 4px 4px rgba(0,0,0,.5);
  border:1px solid rgba(149, 41, 257, 1);
  text-shadow: 1px 1px 0 rgba(240,240,240,.8),
               -1px -1px 0 rgba(149, 41, 257, .8);
}


