body{
  background-color: #333;
}

.container {
  width: 400px;
  height: 400px;
  position: relative;
  perspective: 1000px;
  color: #bbb;
}

.dial {
  position: absolute;
  transform-style: preserve-3d;
}

#rightMinute{
	left: 210px;
	top: 150px;
}

#leftMinute{
  left:50px;
  top: 150px;
}

.dial div {
  display: block;
  position: absolute;
  width: 146px;
  height: 96px;
  backface-visibility: hidden;
  text-align: center;
  font-family: 'Iceland', cursive;
  color: rgba(68, 176, 255, 1);
  font-size: 85px;
  line-height: 1.1;
  background-color: rgba(30, 30, 30, .6);
  border-radius: 20px;
  /*box-shadow: inset 1px 2px 0px rgba(10,10,10,.6),
              inset -1px -2px 0 rgba(40,40,40,.5),
              inset 7px 7px 9px 8px rgba(90, 50, 80, .3),
              inset -7px -7px 9px 8px rgba(40, 10, 20, .7); */
  box-shadow:inset 0px 1px 2px 0px rgba(149, 31, 207, .3),
             inset 15px 15px 5px 2px rgba(0,0,0,.3),
             inset -10px -10px 4px 4px rgba(0,0,0,.5);
  border:1px solid rgba(149, 41, 257, 1);
  text-shadow: 1px 1px 0 rgba(240,240,240,.8),
               -1px -1px 0 rgba(149, 41, 257, .8);
}



#rightMinute div:nth-child(1) { transform: rotateX(   0deg ) translateZ( 200px ); }
#rightMinute div:nth-child(2) { transform: rotateX(  36deg ) translateZ( 200px ); }
#rightMinute div:nth-child(3) { transform: rotateX( 72deg ) translateZ( 200px ); }
#rightMinute div:nth-child(4) { transform: rotateX( 108deg ) translateZ( 200px ); }
#rightMinute div:nth-child(5) { transform: rotateX( 144deg ) translateZ( 200px ); }
#rightMinute div:nth-child(6) { transform: rotateX( 180deg ) translateZ( 200px ); }
#rightMinute div:nth-child(7) { transform: rotateX( 216deg ) translateZ( 200px ); }
#rightMinute div:nth-child(8) { transform: rotateX( 252deg ) translateZ( 200px ); }
#rightMinute div:nth-child(9) { transform: rotateX( 288deg ) translateZ( 200px ); }
#rightMinute div:nth-child(10) { transform: rotateX( 324deg ) translateZ( 200px ); }

#leftMinute div:nth-child(1) { transform: rotateX(   0deg ) translateZ( 200px ); }
#leftMinute div:nth-child(2) { transform: rotateX(  60deg ) translateZ( 200px ); }
#leftMinute div:nth-child(3) { transform: rotateX( 120deg ) translateZ( 200px ); }
#leftMinute div:nth-child(4) { transform: rotateX( 180deg ) translateZ( 200px ); }
#leftMinute div:nth-child(5) { transform: rotateX( 240deg ) translateZ( 200px ); }
#leftMinute div:nth-child(6) { transform: rotateX( 300deg ) translateZ( 200px ); }

